<div class="main_chat_header">
  <div class="main_chat_room_name">testroom 1</div>
  <div class="main_chat_heder_btn">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main_chat_space">
  <div class="main_chat_content">
    <div class="main_chat_wrapper">
      <div class="main_chat_author_name">Tom</div>
      <div class="main_chat_date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="main_chat_text">おはよう</div>
  </div>
</div>
<%= form_with model: [@room, @message], html: {class: "form"},local: true do |f| %>
  <div class="main_chat_post_form">
    <%= f.text_field :content, class: 'main_chat_post_message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>  
  </div>
  <%= f.submit '送信', class: 'main_chat_post_btn' %>
<% end %>