<div class="side_bar_header">
  <div class="user_name">
    <%=link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new_chat_btn">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="side_bar_chat_rooms">
  <% current_user.rooms.each do |room| %>
    <div class="side_chat_room_name">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>